div{width:100%;}
div.resume{
   margin-top:30px;
    max-width:1024px;
    margin:0 auto;
    text-align:center;

}

img{
    float:right;
    width:400px;
}



hr:first-of-type, hr:nth-of-type(2){
    height:30px;
    background-color: gray;
    margin-top:50px;
}

@media all and (max-width: 758px)
{
    img{
        float:none;
        width:100%;
        margin-top:30px;
    }
    
   
}
